<div class="ui text container">
  <div class="ui three column grid">
    <div class="column">
      <div class="ui card fluid">
        <div class="image">
          <%= image_tag("content1.jpg", :alt => "コンテンツ") %>
        </div>
        <div class="content">
          <div class="meta">
            <a>ITベンチャーニュース</a>
          </div>
          <div class="description">
            今週のITニュース
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card fluid">
        <div class="image">
          <%= image_tag("content1.jpg", :alt => "コンテンツ") %>
        </div>
        <div class="content">
          <div class="meta">
            <a>不安に悩まない3つの習慣</a>
          </div>
          <div class="description">
            習慣を学ぼう
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card fluid">
        <div class="image">
          <%= image_tag("content1.jpg", :alt => "コンテンツ") %>
        </div>
        <div class="content">
          <div class="meta">
            <a>1分でも早く帰りたい人の時間短縮術</a>
          </div>
          <div class="description">
            時間科学者の田中教授が語る
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card fluid">
        <div class="image">
          <%= image_tag("content1.jpg", :alt => "コンテンツ") %>
        </div>
        <div class="content">
          <div class="meta">
            <a>ゼロから一歩ずつ中国語</a>
          </div>
          <div class="description">
            中国語教師の劉さんと学ぶ
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card fluid">
        <div class="image">
          <%= image_tag("content1.jpg", :alt => "コンテンツ") %>
        </div>
        <div class="content">
          <div class="meta">
            <a>hoge</a>
          </div>
          <div class="description">
            fugafugafuga
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card fluid">
        <div class="image">
          <%= image_tag("content1.jpg", :alt => "コンテンツ") %>
        </div>
        <div class="content">
          <div class="meta">
            <a>piyo</a>
          </div>
          <div class="description">
            piyopiyo
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
