<!--<div class="play-container">-->
  <!--<div class="ui small progress">-->
    <!--<div class="bar"></div>-->
    <!--<div class="label">14:36</div>-->
  <!--</div>-->
  <!--<button class="ui labeled icon button">-->
    <!--<i class="pause icon"></i>-->
    <!--停止-->
  <!--</button>-->
  <!--<button class="ui right labeled icon button">-->
    <!--<i class="play icon"></i>-->
    <!--全て再生-->
  <!--</button>-->
  <!--<div class="ui three item menu">-->
    <!--<a class="item active">再生リスト</a>-->
    <!--<a class="item">コメント一覧</a>-->
    <!--<a class="item">過去のオーディオ</a>-->
  <!--</div>-->
<!--</div>-->
<div class="list-container">
  <div class="ui segments">
    <div class="ui segment">
      <p>1億調達した16歳天才プログラマーは日本復活をかけて東京で戦う</p>
      <h6>Business Insider Japan</h6>
      <h7>引用元URL：</h7>
      <div class="ui image-div">
        <%= image_tag("one_image1.jpg", size: "200x120")%>
      </div>
      <div id="audio-content">
        <%= audio_tag("yukumo1", id: "sampleAudio", controls: true)%>
      </div>
      <!--<div class="listlist">-->
        <!--<div class="ui two bottom attached buttons">-->
          <!--<div class="ui button">-->
            <!--<i class="add icon"></i>-->
            <!--次に再生-->
          <!--</div>-->
          <!--<div class="ui primary button">-->
            <!--<i class="play icon"></i>-->
            <!--Listen-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="ui segment">
      <p>東芝、テレビ事業の子会社を売却 中国家電大手のハイセンスに</p>
      <h6>共同通信 47NEWS</h6>
      <h7>引用元URL：</h7>
      <div class="ui image-div">
        <%= image_tag("image_div2.jpg", size: "200x120")%>
      </div>
      <div id="audio-content">
        <%= audio_tag("yukumo2", id: "sampleAudio", controls: true)%>
      </div>
      <!--<div class="listlist">-->
        <!--<div class="ui two bottom attached buttons">-->
          <!--<div class="ui button">-->
            <!--<i class="add icon"></i>-->
            <!--次に再生-->
          <!--</div>-->
          <!--<div class="ui primary button">-->
            <!--<i class="play icon"></i>-->
            <!--Listen-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="ui segment">
      <p>相手との絆を深めるおもてなしの会食とは？</p>
      <h6>アメリカン・エキスプレス</h6>
      <h7>引用元URL：</h7>
      <div class="ui image-div">
        <%= image_tag("image_div3.jpg", size: "200x120")%>
      </div>
      <div id="audio-content">
        <%= audio_tag("yukumo3", id: "sampleAudio", controls: true)%>
      </div>
      <!--<div class="listlist">-->
        <!--<div class="ui two bottom attached buttons">-->
          <!--<div class="ui button">-->
            <!--<i class="add icon"></i>-->
            <!--次に再生-->
          <!--</div>-->
          <!--<div class="ui primary button">-->
            <!--<i class="play icon"></i>-->
            <!--Listen-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="ui segment">
      <p>小池氏、希望代表辞任へ…都政に専念</p>
      <h6>読売新聞</h6>
      <h7>引用元URL：</h7>
      <div class="ui image-div">
        <%= image_tag("image_div4.jpg", size: "200x120")%>
      </div>
      <div id="audio-content">
        <%= audio_tag("yukumo4", id: "sampleAudio", controls: true)%>
      </div>
    </div>
  </div>
</div>

<%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<ul class="contents">
  <% @contents.each do |content|%>
    <li>
      <div class="ui segment">
        <p>
        <%= content.audio_title %>
        </p>
        <h6>
        <%= content.media_name %>
        </h6>
        <h7>
        <%= content.media_url %>
        </h7>
        <div class="ui image-div">
          <%= image_tag(content.audio_image, size: "200x120") %>
        </div>
        <div id="audio-content">
          <%= audio_tag(content.audio_file, id: "sampleAudio", controls: true)%>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
