
<%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<ul class="list-container">
  <% @contents.reverse.each do |content|%>
    <li>
      <div class="ui segment">
        <p>
        <%= link_to(content.audio_title, "/contents/#{content.id}") %>
        </p>
        <h6>
        <%= content.media_name %>
        </h6>
        <h7>
          引用元URL:
          <%= link_to(content.media_url, content.media_url) %>
        </h7>
        <div class="ui image-div">
          <%= image_tag(content.audio_image, size: "200x120") %>
        </div>
        <div id="audio-content">
          <%= audio_tag(content.audio_file, id: "sampleAudio", controls: true, class: "ui") %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
