
<%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<ul class="list-container">
  <% @contents.reverse.each do |content|%>
    <li>
      <div class="ui segments">
        <p>
        <%= link_to(content.audio_title, "/contents/#{content.id}") %>
        </p>
        <h6>
        <%= content.media_name %>
        </h6>
        <h7>
          引用元URL:
          <%= link_to(content.media_url, content.media_url) %>
        </h7>
        <div class="ui image-div">
          <%= image_tag(content.audio_image, size: "400x240") %>
        </div>
        <div id="audio-content ui segment">
          <div class="audio-div ui segment">
            <div class="file_name">
              <%= content.audio_file_name %>
            </div>
            <div class="audio_file">
              <%= audio_tag(content.audio_file, id: "sampleAudio", controls: true) %>
            </div>
          </div>
          <div class="audio-div ui segment">
            <div class="file_name">
              <%= content.audio_file2_name %>
            </div>
            <div class="audio_file">
              <% if content.audio_file2 %>
                  <%= audio_tag(content.audio_file2, id: "sampleAudio", controls: true, alt: "audio_file2") %>
              <% else %>
                  <%= audio_tag("default", id: "sampleAudio", controls: true) %>
              <% end %>
            </div>
          </div>
          <div class="audio-div ui segment">
            <div class="file_name">
              <%= content.audio_file3_name %>
            </div>
            <div class="audio_file">
              <% if content.audio_file3 %>
                  <%= audio_tag(content.audio_file3, id: "sampleAudio", controls: true, alt: "audio_file3") %>
              <% else %>
                  <%= audio_tag("default", id: "sampleAudio", controls: true) %>
              <% end %>
            </div>
          </div>
          <div class="audio-div ui segment">
            <div class="file_name">
              <%= content.audio_file4_name %>
            </div>
            <div class="audio_file">
              <% if content.audio_file4 %>
                  <%= audio_tag(content.audio_file4, id: "sampleAudio", controls: true, alt: "audio_file4") %>
              <% else %>
                  <%= audio_tag("default", id: "sampleAudio", controls: true) %>
              <% end %>
            </div>
          </div>
          <div class="audio-div ui segment">
            <div class="file_name">
              <%= content.audio_file5_name %>
            </div>
            <div class="audio_file">
              <% if content.audio_file5 %>
                  <%= audio_tag(content.audio_file5, id: "sampleAudio", controls: true, alt: "audio_file5") %>
              <% else %>
                  <%= audio_tag("default", id: "sampleAudio", controls: true) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
