<div class="ui segment">
  <p>
    <%= @content.audio_title %>
  </p>
  <h6>
    <%= @content.media_name %>
  </h6>
  <h7>
    引用元URL:
    <%= link_to(@content.media_url, @content.media_url) %>
  </h7>
  <div class="ui image-div">
     <%= image_tag(@content.audio_image, size: "200x120") %>
  </div>
  <div id="audio-content">
    <div class="audio-div">
      <div class="file_name">
      </div>
      <div class="audio_file">
       <%= audio_tag(@content.audio_file, id: "sampleAudio", controls: true) %>
      </div>
    </div>
  </div>
  <div class="ui two bottom attached buttons">
    <div class="ui button">
      <%= link_to("編集", "/contents/#{@content.id}/edit", {class: "ui secondary button"}) %>
      <%= link_to("削除", "/contents/#{@content.id}", {method: "delete", class: "negative ui button"})%>
    </div>
  </div>
</div>
