<div class="ui segment show-container">
  <h3>
    <%= @content.audio_title %>
  </h3>
  <h6>
    <%= @content.media_name %>
  </h6>
  <h7>
    引用元URL:
    <%= link_to(@content.media_url, @content.media_url) %>
  </h7>
  <div class="image-div ui">
     <%= image_tag(@content.audio_image, size: "400x240") %>
  </div>
  <div id="audio-content ui raised segments">
    <div class="audio-div ui segment">
      <div class="file_name">
        <h5>
          <%= @content.audio_file_name %>
        </h5>
      </div>
      <div class="audio_file">
       <%= audio_tag(@content.audio_file, id: "sampleAudio", controls: true) %>
      </div>
    </div>
    <div class="audio-div ui segment">
      <div class="file_name">
        <h5>
          <%= @content.audio_file2_name %>
        </h5>
      </div>
      <div class="audio_file">
        <% if @content.audio_file2 %>
          <%= audio_tag(@content.audio_file2, id: "sampleAudio", controls: true, alt: "audio_file2") %>
        <% else %>
          <%= audio_tag("default", id: "sampleAudio", controls: true) %>
        <% end %>
      </div>
    </div>
    <div class="audio-div ui segment">
      <div class="file_name">
        <h5>
          <%= @content.audio_file3_name %>
        </h5>
      </div>
      <div class="audio_file">
        <% if @content.audio_file3 %>
            <%= audio_tag(@content.audio_file3, id: "sampleAudio", controls: true, alt: "audio_file3") %>
        <% else %>
            <%= audio_tag("default", id: "sampleAudio", controls: true) %>
        <% end %>
      </div>
    </div>
    <div class="audio-div ui segment">
      <div class="file_name">
        <h5>
          <%= @content.audio_file4_name %>
        </h5>
      </div>
      <div class="audio_file">
        <% if @content.audio_file4 %>
            <%= audio_tag(@content.audio_file4, id: "sampleAudio", controls: true, alt: "audio_file4") %>
        <% else %>
            <%= audio_tag("default", id: "sampleAudio", controls: true) %>
        <% end %>
      </div>
    </div>
    <div class="audio-div ui segment">
      <div class="file_name">
        <h5>
          <%= @content.audio_file5_name %>
        </h5>
      </div>
      <div class="audio_file">
        <% if @content.audio_file5 %>
            <%= audio_tag(@content.audio_file5, id: "sampleAudio", controls: true, alt: "audio_file5") %>
        <% else %>
            <%= audio_tag("default", id: "sampleAudio", controls: true) %>
        <% end %>
      </div>
    </div>
    <div class="ui two bottom attached buttons">
      <div class="ui button">
        <i class="add icon"></i>
        Queue（準備中）
      </div>
      <div class="ui primary button">
        <i class="play icon"></i>
        Listen（準備中）
      </div>
    </div>
  </div>
  <div class="ui two bottom attached buttons admin-container">
    <div class="ui button">
      <%= link_to("編集", "/contents/#{@content.id}/edit", {class: "ui secondary button"}) %>
      <%= link_to("削除", "/contents/#{@content.id}", {method: "delete", class: "negative ui button"})%>
    </div>
  </div>
</div>
